:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #8d493a;
  background-color: #f8ede3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d0b8a8;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #8d493a;
}
button:focus,
button:focus-visible {
  outline: 4px auto #8d493a;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d0b8a8;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #8d493a;
}

input:hover {
  border-color: #8d493a;
}
input:focus,
input:focus-visible {
  outline: 4px auto #8d493a;
}
